{% extends "base.html" %}


  {% block content %}
    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="/static/images/paul_and_jason_fire_island_ferry.jpg" alt="image" /><span></span></div>
        
        <div id="m_right">
	        <h1>Time for a test!</h1>
            <p>See how well you know us!  Be warned:  If you don't score high enough, your invitation to our wedding may be rescinded.</p>
          	
		</div>
    
    </div>
    
    <div id="templatemo_content">
        <form action="/results/" method="post">
        {% csrf_token %}
        <ol>
    	{% for question in questions %}
            <li class="quiz_question">{{ question.text }}</li>
                <ul class='quiz_answer'>
                {% for answer in question.answer_set.all %}
                <input type='radio' name="{{question.pk}}" id="answer{{ forloop.counter }}" value="{{ answer.id }}"/>
                <label for="answer{{ forloop.counter}}">{{answer.text}}</label><br>
                {% endfor %}
            </ul>
        {% endfor %}
        </ol>
        Name: <input type='text' name="name">
        <input type="submit" name="quiz_submit">
        </form>
        {% if score %}
        Score:  {{ score }}
        {% endif %}
    	<div class="cleaner"></div>
    </div>
    <div id="templatemo_content_bottom"></div>
    {% endblock %}
