{% extends "base.html" %}


  {% block content %}
    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="/static/images/paul_and_jason_fire_island_ferry.jpg" alt="image" /><span></span></div>
        
        <div id="m_right">
	        <h1>Time for a test!</h1>
            <p>See how well you know us!  Be warned:  If you don't score high enough, your invitation to our wedding may be rescinded.</p>
          	
		</div>
    
    </div>
    
    <div id="templatemo_content">
        <form action="/results/" method="post">
        {% csrf_token %}
        {% if errors.empty_question %}
            <div class='error'>{{ errors.empty_question }}</div>
        {% endif %}
        <ol>
    	{% for question in questions %}
            <li class="quiz_question">{{ question.text }}</li>
                <ul class='quiz_answer'>
                {% for answer in question.answer_set.all %}
                    {% if answer.pk in chosen_answers %}
                        <input id='{{answer.pk}}' type='radio' name="{{question.pk}}"  value="{{ answer.id }}" checked/>
                        <label for='{{ answer.pk }}'>{{answer.text}}</label><br>
                    {% else %}
                        <input id='{{answer.pk}}' type='radio' name="{{question.pk}}"  value="{{ answer.id }}"/>
                        <label for='{{ answer.pk }}'>{{answer.text}}</label><br>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        </ol>
        {% if errors.no_name %}
            <div class='error'>{{ errors.no_name }}</div>
        {% endif %}
        Name: <input id='name' name='name' type='text' value="{{ name }}">
        <button id='quiz_submit' type="submit" name="quiz_submit"><span>Judge Me!</span></button>
        </form>

    	<div class="cleaner"></div>
    </div>
    <div id="templatemo_content_bottom"></div>
    {% endblock %}
