{% extends "base.html" %}

{% block content %}
<div id="templatemo_middle">

 <div id="middle_img"></div>

 <div id="m_right">
   <h1>It's a Photo Album.</h1>
   <p>Do you really need an explanation?</p>

 </div>

</div>

<div id="templatemo_content">

<div id='album_wrapper'>
  <div id='album'>
    {% for image in images %}
    <a class="fancybox_thumb" rel="photo_album" href="../static/images/photoalbum/{{image}}" title="{{image.title}}">
      <img src="../static/images/photoalbum/{{image}}" alt="" />
      {% endfor %}
      <div class="cleaner"></div>
    </div>
  </div>
</div>
  <div id="templatemo_content_bottom"></div>
  {% endblock %}