{% extends "base.html" %}
{% block content %}

    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="/static/images/paul_jason_moochie.jpg" alt="Gross" /></div>
        
        <div id="m_right">
	        <h1 class='guestbook_title'>TBA</h1>
            <p class='guestbook_title'>This section to be completed when it's finished.</p>  
            
          	
		    </div>
    
    </div>
    <div id="templatemo_content">

<div id='map_container'>
<img id='tba' src='/static/images/tba.png' alt='TBA'>
</div>
        <div class="cleaner"></div>
      </div>
      <div id="templatemo_content_bottom"></div>



{% endblock %}