<!-- TODO report a bug/feedback/about this site -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jason and Paul's Wedding</title>
<meta name="keywords" content="Paul, Nichols, Jason, Olsen, Nicholsen, Wedding," />
<meta name="description" content="Personal website for the Nicholsen big gay wedding" />
<!-- general fancybox and jquery -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<!-- for fancy box thumbnails -->
<link rel="stylesheet" href="/static/js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/static/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/static/css/templatemo_style.css"  type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

</head>
<body>

<div id="templatemo_wrapper">

    <div id="templatemo_header">

        
    </div>
    
    <div id="templatemo_menu">
        <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">About Us</a>
                <ul>
                    <li><a href="/quiz/" >Quiz</a></li>
                    <li><a href="/photos/">Photos</a></li>
                    <li><a href="/story/" class="last">Our Story</a></li>
                </ul>
              </li>
              <li><a href="#" class='header_link' >Wedding Day</a>
                <ul>
                    <li><a href="/location/">Ceremony/Reception</a></li>
                    <li><a href="/wedding_party/">Our Wedding Party</a></li>
                    <li><a href="#" class="last">After Party</a></li>
                </ul>
              </li>
              <li><a href="#" class='header_link'>Guest Info</a>
                <ul>
                    <li><a href="/map/">Map</a></li>
                    <li><a href="#" class="last">Lodging</a></li>
                </ul>
              </li>
              <li><a href="/guestbook/">Guestbook</a></li>
              <li><a href="mailto:paulandjason27@gmail.com" target="_blank" >Contact Us</a></li>
              <li><a href="https://github.com/pnichols104/wedding-website#wedding-website" target="_blank" class="last">About This Site</a></li>
        </ul>   
        
        <div class="cleaner"></div>
        
    </div> <!-- end of templatemo_menu -->
  

    {% block content %}
    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="static/images/paul_licking_jason.jpg" alt="image" /><span></span></div>
        
        <div id="m_right">
	        <h1>Welcome to our Wedding Site!</h1>
            <p>We are both so happy that you can share our day with us as we settle for each other.  We are going to have a super-fun weekend with lots of fun and surprises along the way!   Or die trying.</p>
		</div>
    
    </div>
    
    <div id="templatemo_content">
    	
        <div class="content_box">

        <div id="countdown_container">
            <h2 id="wedding_date_container">Time until <span id='wedding_date'>September 27, 2014, 4:30pm!</span></h2>
            <div id='countdown'>
                <div class='time_container'>
                    <div id='days'></div>
                    <div class='time_label'>Days</div>
                </div>
                <div class='time_container'>
                    <div id='hours'></div>
                    <div class='time_label'>Hours</div>
                </div>
                <div class='time_container'>
                    <div id='minutes'></div>
                    <div class='time_label'>Minutes</div>
                </div>
                <div class='time_container'>    
                    <div id='seconds'></div>
                    <div class='time_label'>Seconds</div>
                </div>
                <div class='time_container'>    
                    <div id='milliseconds'></div>
                    <div class='time_label'>Milliseconds</div>
                </div>
            </div>
        </div>
        <br><br>

        <div id='welcome'>Have fun looking around what is arguably the best wedding website ever created.  Take the <a href="/quiz/" >quiz</a> to see how well you know Jason and Paul.  Look through the <a href="/photos/">photo album</a> and marvel at those handsome devils.  Be sure to leave a message on the <a href="/guestbook/">guestbook</a> proclaiming your love and devotion for the boys!</div>
        <!-- <div class="content_box last">
        
            <div class="col_w340">
                <h2>Featured Articles</h2>
                <div class="related_art">
                    <h6><a href="#">Maecenas eget tortor eget ipsum</a></h6>
                    <div class="ra_img_wrapper"><span class="new"></span><img src="static/images/templatemo_image_04.jpg" alt="image 4" /></div>
                    <p>Aenean cursus. Maecenas aliquam, ligula id egestas suscipit, nisisapien dignissim nibh.</p>
                    <div class="cleaner"></div>
				</div>
                <div class="related_art">
                    <h6><a href="#">Maecenas eget tortor eget ipsum</a></h6>
                    <div class="ra_img_wrapper"><span class="new"></span><img src="static/images/templatemo_image_05.jpg" alt="image 5" /></div>
                    <p>Aenean cursus. Maecenas aliquam, ligula id egestas suscipit, nisisapien dignissim nibh.</p>
                    <div class="cleaner"></div>
				</div>
                <div class="related_art">
                    <h6><a href="#">Maecenas eget tortor eget ipsum</a></h6>
                    <div class="ra_img_wrapper"><img src="static/images/templatemo_image_06.jpg" alt="image 6" /></div>
                    <p>Aenean cursus. Maecenas aliquam, ligula id egestas suscipit, nisisapien dignissim nibh.</p>
                    <div class="cleaner"></div>
				</div>
            <br><br><br>
                <a class="more float_r" href="#">View All</a>
            </div>
            
            <div class="col_w480">
            	<div class="sub_content_box">
                    <h2>How to use a camcorder</h2>
                    <div class="image_wrapper image_fl"><img src="static/images/templatemo_image_01.png" alt="1" /></div>
                    <p align="justify">Vivamus a velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur quis velit quis tortor tincidunt aliquet.</p>
                    <p align="justify">Vivamus laoreet pharetra eros. In quam nibh, placerat ac, porta ac, molestie non, purus. Curabitur sem ante, condimentum non, cursus quis, eleifend non, libero. Nunc a nulla. Suspendisse vitae orci a ligula egestas bibendum.</p>
                    <a class="more float_r" href="#">Read more</a>
                    <div class="cleaner"></div>
				</div>
                <div class="sub_content_box">
                    <h2>Visual Design Technology</h2>
                    <div class="image_wrapper image_fl"><img src="static/images/templatemo_image_02.png" alt="2" /></div>
                    <p align="justify">Phasellus id purus. Donec mattis egestas sem. Sed pretium, neque hendrerit rhoncus accumsan, nibh tellus pharetra neque, quis rutrum elit justo vitae sapien. Sed nec felis.</p>
                    <p align="justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                <a class="more float_r" href="#">Details</a>
                    <div class="cleaner"></div>
				</div>
            </div>
            
    	</div> -->
    	<div class="cleaner"></div>
    </div>
    <div id="templatemo_content_bottom"></div>
    {% endblock %}
     <div id="templatemo_footer">
    
        Copyright © 2013 <a href="https://github.com/pnichols104/wedding-website">Built by Paul Nichols</a> | 
        Designed by <a href="http://www.templatemo.com/page/1" target="_parent">CSS Templates</a>
    
    </div> <!-- end of templatemo_footer -->
    
</div>
</body>
</html>