{% extends "base.html" %}


  {% block content %}
    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="/static/images/paul_and_jason_new_years.jpg" alt="image" /><span></span></div>
        
        <div id="m_right">
	        <h1>FAQ</h1>
            <p>These are questions and answers, for faq's sake.</p>
          	
		</div>
    
    </div>
    
    <div id="templatemo_content">

    <div class="question">
        Q:  How much of your wedding is going to be serious?
    </div>

    <div class="answer">
        A:  As little as possible.
    </div>

    <div class="question">
        Q:  Why did a cat send me an invitation?
    </div>

    <div class="answer">
        A:  Because our kitty loves us.  We're sorry your pets hate you.
    </div>

    <div class="question">
        Q:  Can I bring a date?
    </div>

    <div class="answer">
        A:  So, take a look at the envelope your invitation came in.  Do you see who it's addressed to?  That's who's invited.  We'd love to invite everyone, but weddings cost mad stacks, yo.
    </div>

    <div class="question">
        Q:  Where are you registered?
    </div>

    <div class="answer">
        A:  We will be registering at Bed Bath and Beyond and Target as of August 10th.  
    </div>

    <div class="question">
        Q:  What are the colors of your wedding?
    </div>

    <div class="answer">
        A:  Like, fall or something.  Whatever. 
    </div>
    
    	<div class="cleaner"></div>
    </div>
    <div id="templatemo_content_bottom"></div>
    {% endblock %}