{% extends "base.html" %}
<!-- TODO Paginator -->

  {% block content %}
    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="/static/images/paul_jason_moochie.jpg" alt="Gross" /></div>
        
        <div id="m_right">
	        <h1 class='guestbook_title'>Sign Our Guestbook</h1>
            <p class='guestbook_title'>Tell us how wonderful we are!</p>  
            <p class='guestbook_title'>It's OK, we don't get tired of hearing it.</p>
          	
		    </div>
    
    </div>
        <div id="templatemo_content">
      <div id='submit_btn_container'><a id='guest_submit' href='#message_form'>Leave us a message!</a></div>
      
      <div> 
        <form id='message_form' action="/guestbook/" method="post" role='form'>
        <div id='guest_error'>
          <p class='error'>Make sure you fill out both fields!</p>
        </div>
          {% csrf_token %}
          <div class="form-group">
            <input type="text" id="guest_name" class='form-control' name="name" placeholder='Name'/>
          </div>
          <div class="form-group">

            <textarea class='form-control' id="guest_message" name="message" placeholder='Message' rows='5'/></textarea>
            <input type="text" class='form-control' id="spam_catcher" name="spam_catcher"/>
          </div>
          <input type="submit"/>
        </form>
      </div>
      
      <div class='guestbook'>
        <hr>
      {% for message in messages %}
      <div class='guestbook_message'>
        <div class='message_header'>
          <span class='message_sender'>{{message.name}} wrote:</span>
          <span class='message_date'>{{message.date}}</span>
          </div>
        <div class='message_body'>
          {{message.message}}
        </div>
        {% if message.response %}
        <div class='message_response'>
          ({{message.response}})
        </div>
        {% endif %}
        {% if not forloop.last %}
      </div>
          <hr class='guest_hr'>
        {% endif %}
      {% endfor %}
    </div>


        <div class="cleaner"></div>
      </div>
      <div id="templatemo_content_bottom"></div>
    {% endblock %}