{% extends "base.html" %}


  {% block content %}
    <div id="templatemo_middle">
    
    	<div id="middle_img"><img class="middle_img" src="/static/images/paul_jason_3babies2.jpg" alt="image" /><span></span></div>
        
        <div id="m_right">
	        <h1>Our Wedding Party</h1>
            <p>We wouldn't be able to do this without the support of some of our closest friends and family, who are regretting agreeing to this more every day.</p>
          	
		</div>
    
    </div>
    
    <div id="templatemo_content">
    THIS IS WHERE OUR WEDDING IS
    	<div class="cleaner"></div>
    </div>
    <div id="templatemo_content_bottom"></div>
    {% endblock %}