{% extends "base.html" %}
{% block content %}

    <div id="templatemo_middle">
    
      <div id="middle_img"><img class="middle_img" src="/static/images/paul_jason_moochie.jpg" alt="Gross" /></div>
        
        <div id="m_right">
          <h1 class='guestbook_title'>Lodging</h1>
            
            <p class='guestbook_title'>You can sleep here.</p>
            
        </div>
    
    </div>
    <div id="templatemo_content">
      <h4>We are temporarily having trouble with our hotel.  We apologize for the inconvenience, but we promise it's been a lot more stressful for us than for you.  We will have details by Friday, August 15.  Promise.</h4>
      <h4>Shuttle service will be provided from the train station to the hotel on the day of the wedding (probably) and between the wedding venue and the hotel before and after the event.</h4>
        <div class="cleaner"></div>
      </div>
      <div id="templatemo_content_bottom"></div>



{% endblock %}