{% extends "base.html" %}
{% block content %}

    <div id="templatemo_middle">
    
      <div id="middle_img"><img class="middle_img" src="/static/images/paul_jason_moochie.jpg" alt="Gross" /></div>
        
        <div id="m_right">
          <h1 class='guestbook_title'>Lodging</h1>
            
            <p class='guestbook_title'>You can sleep here.</p>
            
        </div>
    
    </div>
    <div id="templatemo_content">
      <h4>Phew!  That was an ordeal.  Thank you everyone who harrassed us every day about this.  It didn't add stress to our lives <span class="italic">at all.</span> (Just kidding, love you, mean it.)</h4>

      <h4>You can make your reservations at the Doubletree Hilton in Tinton Falls.  We have a group rate of $129 plus tax which is good only until <span class='strong'>September 3</span>.</h4>

      <h4>You can make reservations by calling the hotel directly at 732-544-9300 and asking for the <span class='strong'>Wiener Wedding</span> block or by going to <a href="http://www.tintonfallseatontown.doubletree.com">their website</a> and entering group code <span class='strong'>WIE</span>.</h4>

      <h4>Shuttle service will be provided from the train station to the hotel on the day of the wedding (probably) and between the wedding venue and the hotel before and after the event.</h4>
        <div class="cleaner"></div>
      </div>
      <div id="templatemo_content_bottom"></div>



{% endblock %}