{% extends "base.html" %}
{% block content %}

   <div id="templatemo_middle">
    
    	<div id="middle_img"></div>
        
        <div id="m_right">
	        <h1>See who knows us best!</h1>
            <p>And who is dead to us.</p>
          	
		    </div>
    
    </div>
    
    <div id="templatemo_content">


<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=210828373645680600634.0004e6746f4e8e989f476&amp;ie=UTF8&amp;t=m&amp;ll=41.44916,-73.980904&amp;spn=0.045034,0.072956&amp;z=13&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=210828373645680600634.0004e6746f4e8e989f476&amp;ie=UTF8&amp;t=m&amp;ll=41.44916,-73.980904&amp;spn=0.045034,0.072956&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">Jason and Paul's Wedding</a> in a larger map</small>
        <div class="cleaner"></div>
      </div>
      <div id="templatemo_content_bottom"></div>



{% endblock %}