{% extends "base.html" %}
{% block content %}

   <div id="templatemo_middle">
    
      <div id="middle_img"><img class="middle_img" src="/static/images/ackbar.jpg" alt="image" /><span></span></div>
        
        <div id="ackbar_speech">
          <h1>
            It's a map!</h1>
            
    </div>
    
    </div>
    
    <div id="templatemo_content">

<div id='map_container'>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?hl=en&amp;msid=210828373645680600634.0004e6746f4e8e989f476&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=40.219781,-74.141235&amp;spn=0.367013,0.583649&amp;z=10&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?hl=en&amp;msid=210828373645680600634.0004e6746f4e8e989f476&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=40.219781,-74.141235&amp;spn=0.367013,0.583649&amp;z=10&amp;source=embed" style="color:#0000FF;text-align:left">Jason and Paul's Wedding</a> in a larger map</small>
</div>
        <div class="cleaner"></div>
      </div>
      <div id="templatemo_content_bottom"></div>



{% endblock %}