/*
Credit: http://www.templatemo.com
*/
html {overflow-y:scroll;}
body {
	margin: 0px;
	padding: 0px;
	color: #252525;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.7em; 
	background: url(/static/images/leaves_background2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a, a:link, a:visited { color: #00bb06; font-weight: bold; text-decoration: none; }
a:hover { color: #0066CC; text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6, #countdown { color: #333; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif }
h1 { font-size: 28px;}
h2, #countdown { font-size: 25px;}
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; line-height: 1.6;}
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { display: block; width: 105px; height: 23px; text-align: center; padding-top: 3px; color: #000; font-weight: normal; background: url(/static/images/templatemo_more.png) }
a.more:hover { text-decoration: none; color: #fff; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #999; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

#templatemo_wrapper { width: 1000px; margin: 0 auto }

#templatemo_header {
	height: 125px;
	width: 940px;
	padding: 0 30px;
	position:relative;
}
.header_more {
	position:absolute;
	left:359px;
	top:5px;
	cursor:default;
}

#site_title {
	float: left;
	padding-top: 50px;
}

#site_title h1 {
	display: block;
	height: 50px;
	margin: 0;
	padding: 0;
	font-size: 40px;
	color: #d07f0b;
	font-weight: normal;

}

#site_title h1 a {
	display: block;
	width: 255px;
	height: 50px;
	margin: 0;
	padding: 0;
	font-size: 40px;
	color: #d07f0b;
	font-weight: normal;
	text-decoration: none;
	text-indent: -10000px
}

#site_title a span {
	display: block;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	margin-top: 10px;
}

#search_box { float: right; width: 205px; height: 33px; margin: 50px 0 0 0; background: url(/static/images/templatemo_search.png) no-repeat; }
#search_box form { clear: both; width: 205px; height: 33px; padding: 0; } 
#searchfield { height: 23px; width: 170px; padding: 5px; color: #fff; background: none; border: none; }

/* countdown */

#wedding_date_container{
	margin: 0 0 15px 0;

}

#wedding_date{
	color: green;
}
#countdown_container{
	text-align: center;
	padding: 20px;
	border: 2px black solid;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#countdown{
	display: inline-block;

}
.time_container {
	float: left;
	text-align: center;
	padding: 0 30px;
}

.time_label {
	font-size: 18px;
	padding-top: 10px;
}
/* menu */

#templatemo_menu {
	width: 990px;
	height: 65px;
	padding: 25px 50px 0;
	font-size: 16px;
	background: url(/static/images/templatemo_menu.png) no-repeat;
}

#templatemo_menu ul {
	z-index: 1001;
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
/*	display: inline;
*/}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
	float: left;
}

#templatemo_menu ul li a {
	float: none;
	display: block;
	height: 27px;
	padding: 0 25px;
	margin: 0;
	font-size: 16px;
	text-align: left;
	text-decoration: none;
	color: #383838;	
	font-weight: normal;
	outline: none;
	border: none;
/*	background: url(/static/images/templatemo_menu_divider.png) center right no-repeat;
*/}

#templatemo_menu ul li a:hover, 
#templatemo_menu ul li .current { color: #00bb06 }

#templatemo_menu ul li .last { 
	background: none 
}

#templatemo_menu ul li:hover > ul {
	display: block; 
	float: left; 
	clear: left;
}


#templatemo_menu ul:after {
	content: ""; 
	clear: both; 
	display: block;
}



#templatemo_menu ul ul {
	display: none;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	background: #f8f8f8;

}
#templatemo_menu ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

#templatemo_menu ul ul li a:hover {
}

#templatemo_menu ul ul:last-child {
/*    border:1px solid red;
*/    -webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-bottomleft: 15px;
-moz-border-radius-bottomright: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
padding:2px;t

}


#login { float: right; }
#login a { color: #383838; font-weight: 400 }
#login a:hover { color: #00bb06; }

/* end of menu */

#templatemo_middle {
	clear: both;
	width: 1000px;
	height: 227px;
	padding: 15px 50px;
	background: url(/static/images/templatemo_slider.png) no-repeat;
}

#templatemo_middle #middle_img {
	float: left;
	position: relative;
	left: 33px;
	width: 285px;
	height: 186px;
	padding: 6px;
}

#middle_img img {
	width: 285px;
	height: 186px;
}

#middle_img span {
	position: absolute;
	left: 0;
	top: 0;
	width: 297px;
	height: 198px;
	background: url(/static/images/templatemo_frame.png) no-repeat;
}

#m_right, #ackbar_speech {
	float: right;
	width: 450px;
	padding-top: 20px;
	padding-right: 50px;
}

#m_right h1, #ackbar_speech h1{ color: #ddd; margin-bottom: 15px; text-align: center}

#ackbar_speech h1{
	margin-top: 40px;
	font-size: 50px;
}
#m_right p { color: #969696; font-size: 16px; font-family: Georgia, "Times New Roman", Times, serif; text-align: justify }

#templatemo_content {
	clear: both;
	width: 980px;
	padding: 30px 50px;
	background: url(/static/images/templatemo_content.png) repeat-y;
	text-align: justify;
}

#templatemo_content_bottom {
	clear: both;
	height: 13px;
	background: url(/static/images/templatemo_content_bottom.png) no-repeat
}

.content_box { clear: both; margin-bottom: 60px }
.sub_content_box { clear: both; margin-bottom: 40px }
.last { margin: 0 }


.col_w340 {
	float: left;
	width: 340px;
}

.col_w480 {
	float: right;
	width: 480px;
}

.related_art { margin-bottom: 30px }
.related_art h6 { margin-bottom: 15px }
.related_art h6 a { font-weight: normal }
.related_art .ra_img_wrapper { position: relative; float: left; border: 1px solid #CCC; padding: 4px; margin-left: 9px; display: inline-block }
.related_art .ra_img_wrapper .new { position: absolute; left: -9px; top: 2px; width: 51px; height: 22px; background: url(/static/images/templatemo_frame_02.png) no-repeat }
.related_art p { float: right; width: 190px; } 

#templatemo_footer {
	width: 900px;
	margin: 0 auto;
	padding: 15px 35px;
	text-align: center;
	color: #bdbdbd;
}

#templatemo_footer a {
	font-weight: normal;
	color: #bdbdbd;
}

.quiz_question, .quiz_answer .result_message .correct{
	color: #333; 
	font-weight: normal; 
	font-family: Georgia, "Times New Roman", Times, serif

}

.quiz_question{
	font-size: 16px; 
	margin: 20px 30px 20px 0px; 
	padding: 0}

	.quiz_answer{
		font-size: 14px; 
		margin: 0 0 2px; 
		padding: 0;
		vertical-align: middle;}

		.right_answer{
			font-weight: bold;
			font-family: Georgia, "Times New Roman", Times, serif;
			margin: 0;
		}

		.user_answer{
			color: red;
			font-weight: 700,
		}

		.error{
			color: red;
			font-size: 14px;
			text-align: center;
		}
		.result_message{
			font-size: 14px;
			font-style: italic;
		}

		.strikeout {text-decoration:line-through;}

		.story {
			font-size: 16px;
			text-align: justify;
			padding: 5px 45px 5px 45px;
			font-family: Georgia, "Times New Roman", Times, serif;
		}
		#high_scores{
			margin-right: auto;
			margin-left: auto;
			font-family: Georgia, "Times New Roman", Times, serif;
		}
		#high_scores th{
			font-size: 18px;
			width: 100px;
			padding-bottom: 10px;
			text-align: center;
		}

		#high_scores td{
			font-size: 16px;
			text-align: center;
			padding-bottom: 5px;
			width: auto;
		}

		.thank_you{
			font-size: 14px;
			font-family: Georgia, "Times New Roman", Times, serif;
			color: blue;
		}

		p.guestbook{
			font-size: 14px;
			font-family: Georgia, "Times New Roman", Times, serif;
			width: 700px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#m_right p.guestbook_title{
			text-align: center;
		}

		.guestbook_message{
			margin: 0px 30px;
		}

/*.guest_hr{
	margin: 0;
	}*/
	#message_form{
		display: none;



	}

	.message_header{

	}

	.message_sender{
		font-size: 14px
	}

	.message_date{
		float: right;
		font-size: 14px
	}

	.message_body{
		padding: 15px;
		font-weight: bold;
		font-size: 16px
	}

	.message_response{
		padding-left: 50px;
		font-style: italic;
		font-size: 14px
	}

	#guest_submit {
		-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
		box-shadow:inset 0px 1px 0px 0px #fce2c1;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
		background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
		background-color:#ffc477;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #eeb44f;
		display:inline-block;
		color:#ffffff;
		font-family:Georgia;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:40px;
		line-height:40px;
		width:182px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #cc9f52;
	}
	#guest_submit:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
		background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
		background-color:#fb9e25;
		}#guest_submit:active {
			position:relative;
			top:1px;
		}
		/* This button was generated using CSSButtonGenerator.com */


		#submit_btn_container{text-align: center}


		.container{
			text-align: center;
		}

		#guest_error{
			display:none;
		}

		/*wedding_party*/

		.wedding_party_container{
			/*border:2px solid blue;*/
			font-family: Georgia, "Times New Roman", Times, serif;
		}
		.wedding_party_member{
			float:left;
			width:auto;
			height: auto;
			font-size: 14px;
			padding: 0 0;
		}

		.wedding_party_header{
			font-size: 28px;
			clear: both;
			text-align: center;
			font-family: Cambria, Georgia, serif;}

			.wedding_party_row{
				clear: both;
				text-align: center;
/*	margin-left: auto;
	margin-right: auto;
	width: auto;*/
	margin-bottom: 42px;
}

.wedding_party_row_contents{
	display: inline-block;
}

.party_image img{
	height: 240px;
	width: 240px;
	text-align: center;
}

.party_name{
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
	font-family: Cambria, Georgia, serif;
}

.party_text{
	text-align: justify;
	font-family: Cambria, Georgia, serif;
	font-size: 18px;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
}

.party_text_container{
	display: table;
	position: relative;
	/* default background colour, for all layout engines that don't implement gradients */
	background: #FFDEAD;

	/* gecko based browsers */
	background: -moz-linear-gradient(top, #FFAD33, #FFDEAD);

	/* webkit based browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFAD33), to(#FFDEAD));

	color: #000000; /* text colour (black) */
	height: 240px; /* gradient uses the full height of the element */
	width: 240px;
	padding: 5px; /* distance from border edge to text */
}
/*fancybox*/
.fancybox_thumb img{
	height: auto;
	width: 130px;
	padding: 10px 20px;
}

.first_letter {
	float: left; 
	color: #903; 
	font-size: 40px; 
	line-height: 32px; 
	padding-top: 4px; 
	padding-right: 4px; 
	padding-left: 0px; 
}
#album {
	display: inline-block;
}

#album_wrapper {
	text-align: center;
}

div #photo_album_caption, div #photo_album_title{
	text-align: center;
}
#welcome {
	color: #933; 
	font-weight: normal; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	padding: 0 40px;
	text-align: justify;
	line-height: 30px

}

label {
	font-weight: normal;
	margin-left: 3px;
	padding-top: 1px;
}

#map_container{
	text-align: center;

}

#map{-webkit-box-shadow:
	0px 0px 0px 2px rgba(0,0,0,0.6),
	0px 0px 0px 18px #fff,
	0px 0px 0px 22px rgba(0,0,0,0.2),
	6px 6px 8px 21px #555;

	-moz-box-shadow:
	0px 0px 0px 2px rgba(0,0,0,0.6),
	0px 0px 0px 18px #fff,
	0px 0px 0px 22px rgba(0,0,0,0.2),
	6px 6px 8px 21px #555;

	box-shadow:
	0px 0px 0px 2px rgba(0,0,0,0.6),
	0px 0px 0px 18px #fff,
	0px 0px 0px 22px rgba(0,0,0,0.2),
	6px 6px 8px 21px #555;
}

/* entire container, keeps perspective */
.flip-container {
    margin: 20px 26px 32px 26px; /* customized rule */
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
            perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, 
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.flip-container, 
.front, 
.back {
    /*width: 320px;
    height: 480px;*/
    width: 240px; /* customized rule */
    height: 240px; /* customized rule */
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
       -moz-transition: 0.6s;
            transition: 0.6s;
    -webkit-transform: perspective(1000px);
       -moz-transform: perspective(1000px);
            transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, 
.back {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 10px 0;
    -webkit-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;

    -moz-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    /*! Volker_E Don't include -moz-box-shadow any more if you don't explicitely want to support Fx 3.6, see https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */

    box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
    /*! Volker_E: get rid of the unit when values are '0'. So '0' instead of '0px'. */
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    background-color: #9CF; /* customized rule; ! Volker_E: use short hex notation here as well */
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
}



/*.front, 
.back {

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, 
.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, 
.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}*/

#tba {width: 850px; height: auto;}